{% extends "dashboard/base.html" %}
{% block content %}
  {% for movie in movies %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ movie.author}}</a>
          <small class="text-muted">{{ movie.release_date|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ movie.title }}</a></h2>
        <p class="article-content">{{ movie.description }}</p>
        <div>
          <ul>
            <li>Language: {{ movie.language }}</li>
            <li>PG Rating: {{ movie.pg_rating }}</li>
            <li>Duration: {{ movie.duration }}</li>
          </ul>
        </div>


      </div>
    </article>
  {% endfor %}
{% endblock content %}
